@import url(null.css);
/* zeroing */

/* settings ================================================== */

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: #1C1D21;
}
body {
  font-family: Calibri;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.cell {
  height: 60px;
  width: 60px;
  border: 2px solid #110E1B;
  border-radius: 5px;
  background: #191528;
}
.snake {
  background: #5C162E;
}
.snake-head {
  background: #3C162F;
}